body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background: linear-gradient(135deg, #0b1120, #1a2332, white);
    background-size: 400% 400%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: gradientAnimation 7s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.login-container {
    background-color: rgba(26, 35, 50, 0.85);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    width: 350px;
}

.input-box-container {
    display: flex;
    flex-direction: column;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 600;
    color: #f4f4f9;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #b0b9d6;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    padding: 12px;
    border-radius: 6px; /* More rounded input fields */
    border: 1px solid #3a475b; /* Darker border for inputs */
    background-color: #1f2a3e; /* Darker background for inputs */
    color: white;
    margin-bottom: 20px;
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
    outline: none;
    border-color: #ff006a; /* Pinkish accent color for focused inputs */
}

.login-container input[type="checkbox"] {
    margin-right: 8px;
}

.login-container .remember-me-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #b0b9d6; /* Lighter text color for "Remember Me" */
}

.login-container button {
    background-color: #ff006a; /* Pinkish button */
    color: white;
    padding: 14px;
    border: none;
    border-radius: 30px; /* Rounded button */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #d80057; /* Darker pink on hover */
}

.login-container a {
    color: #b0b9d6; /* Lighter blue for the "Forgot your password?" link */
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    display: block;
}

.login-container a:hover {
    color: #ff006a; /* Pinkish color on hover */
}

.error-message {
    color: #ff006a; /* Pinkish color for error messages */
    text-align: center;
    margin-bottom: 20px;
}

.signup-link-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    gap: 0.5vw;
}

.signup-link {
    color: #1db954;
    text-decoration: none;
    font-weight: 600;
    align-self: auto;
}

.signup-link:hover {
    text-decoration: underline;
}
