body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background: linear-gradient(135deg, #4c00ff, #9d00ff, #0075ff);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* General container styling for forms */
.container {
    background-color: rgba(26, 35, 50, 0.9);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 40px;
}

h1,
h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: white;
}
